@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Muller', sans-serif;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  margin-left: 45px;
  color: #333;
  font-size: 40px;
  font-weight: 400;
  line-height: 32px;
}

.input {
  display: block;
  padding-left: 21px;
  margin-bottom: 23px;
  border-radius: 12px;
  background-color: #ffffff;
  border: none;
  line-height: 32px;
}

    /* header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.herader-logo {
  display: flex;
  align-items: center;
}

.tel {
  color: #666;
  font-size: 22px;
  font-weight: 800;
  line-height: 32px;
  margin-left: 25px;
}

.account {
  background: url('../img/arrow_lk.png') no-repeat left top 8px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: 12px;
  font-family: 'Muller';
  color: #cc9933;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.navigation {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 11px 21px;
}

.nav {
  display: flex;
}

.search {
  position: relative;
  margin-left: auto;
  width: 355px;
  height: 48px;
}

.search input{
  padding-left: 21px;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px;
  background-color: #f1f1f1;
}

.search-button {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-image: url('../img/search.svg');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav-item {
  margin-right: 47px;
}
.nav-item a {
  color: #333333;
  line-height: 32px;
}

    /* Бронь */

.section-one {
  display: flex;
  margin: 73px 0 23px 0;
}

.title-reservation {
  margin-bottom: 23px;
}

.title-offer {
  margin-bottom: 23px;
}

.reservation, .special-offer {
  min-width: 49%;
}

.reservation-input {
  min-width: 518px;
  height: 70px;
}

.button-send {
  border-radius: 12px;
  background-color: #cc9933;
  padding: 27px 30px;
  color: #ffffff;
  font-size: 16px;
  border: none;
}

.amount {
  margin-left: 30px;
  color: #cc9933;
  line-height: 32px;
}

.form-text {
  color: #a0a0a0;
  line-height: 32px;
}

    /* Спецпредложение */

.offer {
  position: relative;
}

.luxury {
  max-width: 60%;
  color: #ffffff;
  font-size: 66px;
  line-height: 58px;
  margin-bottom: 30px;
}

.offer-text {
  position: absolute;
  bottom: 30px;
  left: 40px;
}

.price {
  opacity: 0.49;
  color: #ffffff;
  font-size: 35px;
  line-height: 32px;
}

.more {
  background: url('../img/arrow.png') no-repeat right;
  padding-right: 20px;
  margin-left: 43px;
  color: #ffcc66;
  font-size: 16px;
  line-height: 32px;
}

    /* О нас */

.about-us {
  margin-top: 70px;
}

.title-about {
  margin-bottom: 15px;
}

.about-us-text {
  max-width: 77%;
  margin-left: 45px;
  color: #666666;
  line-height: 32px;
}

    /* Услуги */

.services {
  margin-top: 63px;
}

.title-services {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.service {
  max-width: 572px;
  border-radius: 12px;
  background-color: #fff;
  margin-right: 24px;
  margin-bottom: 24px;
}

.service:nth-child(2n) {
  margin-right: 0;
}

.service-img {
  margin-bottom: 30px;
}

.service-title {
  background: url('../img/arrow.png') no-repeat right;
  padding-right: 20px;
  display: inline;
  padding-left: 45px;
  color: #cc9933;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.service-text {
  margin: 0;
  padding: 0 45px 30px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

    /* Преимущества */

.advantages {
  margin-top: 50px;
}

.title-advantages {
  margin-bottom: 23px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
}

.advantage {
  margin-right: 23px;
  margin-bottom: 24px;
  padding: 44px 44px 30px 44px;
  max-width: 275px;
  border-radius: 12px;
  background-color: #fff;
}

.advantage:nth-child(4n) {
  margin-right: 0;
}

.advantage-img {
  width: 63px;
  height: 59px;
}

.advantage-text {
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 32px;
}

    /* Размещение */

.accommodation {
  margin-top: 50px;
}

.title-accommodation {
  margin-bottom: 23px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel {
  max-width: 373px;
  border-radius: 12px;
  background-color: #fff;
  margin-right: 25px;
  margin-bottom: 25px;
}

.hotel:nth-child(3n) {
  margin-right: 0;
}

.hotel-text {
  padding: 28px 44px 40px;
}

.hotel-price-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.from {
  color: #969696;
  font-weight: 400;
}

.price-night {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.night {
  margin-right: 33px;
}

.name-hotel {
  margin-top: 5px;
}

.rating {
  margin-right: 2px;
}

.country {
  color: #999999;
  font-weight: 400;
}

.numbers-btn {
  border-radius: 12px;
  border: 1px solid #cc9933;
  color: #cc9933;
  font-size: 16px;
  padding: 13px 20px;
  background-color: transparent;
}

.all-options-img {
  height: 100%;
}

.all-options {
  position: relative;
}

.all-options-link {
  position: absolute;
  bottom: 52px;
  left: 39px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  background: url('../img/arrow-white.png') no-repeat right;
  padding-right: 15px;
}

.arrow-options {
  font-family: 'FontAwesome';
  font-size: 20px;
  color: #fff;
}

    /* Контакты */

.contact-section {
  display: flex;
}

.contacts {
  margin-top: 42px;
}

.contacts-title {
  margin-bottom: 25px;
}

.contact-list {
  padding: 46px;
  min-width: 472px;;
  border-radius: 12px;
  background-color: #ffffff;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #cccccc;
}

.contact:first-child {
  padding-top: 0;
}

.contact-heading {
  color: #666666;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}

.contact-info {
  width: 70%;
  max-width: 230px;
}

.contact-address {
  display: inline;
  color: #333333;
  line-height: 24px;
  font-style: normal;
}

.contact-tel {
  display: flex;
  flex-direction: column;
  color: #cc9933;
  line-height: 24px;
}

.contact-email {
  line-height: 26px;
  color: #cc9933;
}

.email-info {
  color: #999999;
}

.schedule {
  color: #333333;
  line-height: 24px;
}

.route-btn {
  margin-top: 44px;
  padding: 25px 30px;
  border-radius: 12px;
  border: 1px solid #cc9933;
  color: #cc9933;
  background-color: transparent;
}

    /* Напишите нам */

.write-us {
  max-width: 698px;
  margin: 0 0 82px 180px;
}

.write-us-title {
  margin: 175px 0 40px 35px;
}

.input-write-us {
  min-width: 340px;
  height: 70px;
}

.textarea-write-us {
  min-width: 340px;
  height: 110px;
}

.send-btn {
  padding: 27px 128px;
  border-radius: 12px;
  border: none;
  background-color: #cc9933;
  color: #ffffff;
}

/* footer */

.footer {
  margin-top: 22px;
  margin-bottom: 52px;
  padding: 40px 52px 60px 52px;
  border-radius: 12px;
  background: url(../img/sun.png) no-repeat bottom right 180px;
  background-color: #333333;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
}

.footer-info {
  max-width: 300px;
}

.footer-info-text {
  display: block;
  margin-bottom: 32px;
  color: #fff;
  line-height: 32px;
}

.footer-info-link {
  color: #cc9933;
}

.footer-contacts {
  margin-left: 120px;
}

.footer-address {
  color: #fff;
  line-height: 32px;
  margin-bottom: 25px;
  font-style: normal;
}

.footer-contact-tel {
  margin-bottom: 25px;
}

.footer-contact-email {
  display: flex;
  flex-direction: column;

}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.tripadvisor {
  width: 25px;
  height: 25px;
  margin-bottom: 21px;
  background: url(../img/tripadvisor.svg) no-repeat center;
  opacity: 0.5;
}

.twitter {
  width: 25px;
  height: 25px;
  margin-bottom: 21px;
  background: url(../img/twitter.svg) no-repeat center;
  opacity: 0.5;
}

.facebook {
  width: 25px;
  height: 25px;
  margin-bottom: 21px;
  background: url(../img/facebook.svg) no-repeat center;
  opacity: 0.5;
}

.vk {
  width: 25px;
  height: 25px;
  margin-bottom: 21px;
  background: url(../img/social.svg) no-repeat center;
  opacity: 0.5;
}

.google-plus {
  width: 25px;
  height: 25px;
  margin-bottom: 21px;
  background: url(../img/google-plus-social-logotype.svg) no-repeat center;
  opacity: 0.5;
}
